* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    /* To hide horizontal scroll bars */
}

/* HomePage Starts */

.homepage {
    background-image: url("https://media.istockphoto.com/id/1294603953/vector/abstract-black-stripes-diagonal-background.jpg?s=612x612&w=0&k=20&c=nQZHTk-o97cNVqWnUe8BJg0A5jQG0tqylquzbt9YtcQ=");
    border: 2px solid #555;
    color: #fff;
    padding: 20px;
    width: 100vw;
    height: 120vh;
    margin: auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    animation: fadeIn 1s ease;
}

@media (max-width: 768px) {
    .homepage {
        height: auto;
        padding: 15px;
    }
}

/* flip starts here */
/* flip container */
.flip-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

@media (max-width: 1024px) {
    .flip-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .flip-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

.flip-card {
    background-color: transparent;
    width: 450px;
    height: 300px;
    margin: 10px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* flip when pointer hover the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Styling the back side */
.flip-card-back {
    background-image: linear-gradient(to right, #101d30, #01232e, #072627, #172820, #25291d);
    color: white;
    transform: rotateY(180deg);
}

.card-text {
    padding: 4px;
    color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
}

.flip-btn {
    height: 50px;
    width: 80px;
    margin: 5px;
    background-color: rgb(14, 76, 103);
    color: whitesmoke;
    border: 2px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
}

.flip-btn:hover {
    background-color: darkslategray;
}


/* flip ends here */

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: grey;
    font-size: 32px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
}

h3 {
    color: #ddd;
    font-size: 18px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    h3 {
        font-size: 16px;
    }
}

.navbar ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .navbar li {
        display: block;
        margin: 10px 0;
    }
}

.navbar a {
    text-decoration: none;
    color: #ddd;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #4CAF50;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    width: 130px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    display: block;
}

.dropdown-content li a {
    color: #ddd;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content li a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.intro {
    color: #ccc;
    font-size: 16px;
    line-height: 1.6;
    font-weight: bold;
    font-style: italic;
}

/* HomePage Ends */

/* Article Container */
article {
    background-image: url("https://media.istockphoto.com/id/1294603953/vector/abstract-black-stripes-diagonal-background.jpg?s=612x612&w=0&k=20&c=nQZHTk-o97cNVqWnUe8BJg0A5jQG0tqylquzbt9YtcQ=");
    border: 2px solid #555;
    padding: 20px;
    margin: 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    article {
        padding: 15px;
    }
}

/* Title */
article header h1 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

@media (max-width: 768px) {
    article header h1 {
        font-size: 24px;
    }
}

/* Summary */
article header h5 {
    font-size: 18px;
    color: #b0b0b0;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
    text-align: center;
}

@media (max-width: 768px) {
    article header h5 {
        font-size: 16px;
    }
}

/* Content List */
article ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #c0c0c0;
    font-family: 'Verdana', sans-serif;
    line-height: 1.6;
}

/* Images */
article img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    border: 3px solid #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Videos */
article video {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    border: 3px solid #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Horizontal Rules */
hr {
    border: none;
    border-top: 2px solid #444;
    margin: 20px 0;
}

article p,
article li {
    font-size: 16px;
    color: #e0e0e0;
}

article ul li {
    margin-bottom: 10px;
}

/* About Section */
#about {
    background-image: url("https://media.istockphoto.com/id/1294603953/vector/abstract-black-stripes-diagonal-background.jpg?s=612x612&w=0&k=20&c=nQZHTk-o97cNVqWnUe8BJg0A5jQG0tqylquzbt9YtcQ=");
    border: 2px solid #555;
    padding: 20px;
    margin: 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    animation: fadeIn 1s ease;
}

@media (max-width: 768px) {
    #about {
        padding: 15px;
    }
}

#about h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    #about h1 {
        font-size: 24px;
    }
}

#about p {
    color: #ccc;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

@media (max-width: 768px) {
    #about p {
        font-size: 14px;
    }
}

#about h3 {
    color: #4CAF50;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    #about h3 {
        font-size: 20px;
    }
}

#about ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#about ul li {
    background: #333;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.4s ease;
}

#about ul li:hover {
    background: #4CAF50;
}

/* Contact section starts */
#contact {
    background-image: url("https://media.istockphoto.com/id/1294603953/vector/abstract-black-stripes-diagonal-background.jpg?s=612x612&w=0&k=20&c=nQZHTk-o97cNVqWnUe8BJg0A5jQG0tqylquzbt9YtcQ=");
    color: #e0e0e0;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    #contact {
        padding: 15px;
    }
}



#contact form {
    max-width: 500px;
    margin: auto;
    transition: transform 0.3s ease;
}

#contact .form-group {
    margin-bottom: 15px;
    position: relative;
}

#contact label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #333;
    color: #e0e0e0;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#contact input[type="text"]:focus,
#contact input[type="email"]:focus,
#contact textarea:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px #4CAF50;
}

#contact input[type="submit"],
#contact .btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    text-align: center;
}

#contact input[type="submit"]:hover,
#contact .btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* footer starts */

footer {
    background-image: url("https://media.istockphoto.com/id/1294603953/vector/abstract-black-stripes-diagonal-background.jpg?s=612x612&w=0&k=20&c=nQZHTk-o97cNVqWnUe8BJg0A5jQG0tqylquzbt9YtcQ=");
    text-align: center;
    border-top: 1px solid #4CAF50;
    animation: fadeIn 1.5s ease;
}

footer p {
    color: #ccc;
    font-size: 14px;
    margin: 0;
}

@media (max-width: 768px) {
    footer p {
        font-size: 12px;
    }
}

.social {
    margin-top: 10px;
}

.social a {
    margin: 0 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social a img {
    vertical-align: middle;
    border-radius: 25%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.social a:hover {
    transform: scale(2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}



/* Additional keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.reference h3 {
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1200;
    font-size: 30px;
}

.reference-content li a {
    background: transparent;
    text-decoration: none;
    width: 20vw;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.4s ease;
}

.reference-content li {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    text-align: center;
}

.reference-content li a:hover {
    background: #4CAF50;
}

/* footer ends */